body {
    background-color: #eee;
}

#cluster-map {
    width: 100%;
    height: calc(100vh - 10.5rem);
}

@media screen and (max-width: 768px) {
    #cluster-map {
        width: 100%;
        height: calc(75vh - 8.5rem);
    }
}

#map {
    width: 100%;
    height: 250px;
}

#rating-label {
    width: auto;
    margin-right: 0.5rem;
    margin-bottom: 0;
    line-height: initial;
}

#rating-label-2 {
    width: auto;
    margin-right: 0.5rem;
    margin-bottom: 0;
    line-height: initial;
}

#show-page-line-break {
    white-space: pre-line;
}

#show-page-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    white-space: initial;
}

#show-page-text-2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    white-space: initial;
}

#show-page-image {
    /* height: 450px; */
    object-fit: contain;
    background-position: center;
    /* background-image: linear-gradient(rgba(0, 100, 0, 0.3), rgba(0, 0, 60, 0.8)); */
    background-color: rgba(0, 0, 0, 0.3);
    aspect-ratio: 4/3;
}

.carousel-inner .carousel-item .carousel-caption {
    width: inherit;
    left: unset;
    right: unset;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 12px 0;
}

.carousel-item .carousel-caption #show-page-line-break {
    margin-top: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0.5rem;
}

.carousel-item .carousel-caption #show-page-line-break::first-line {
    margin-top: 0;
    font-size: 1.25rem;
    line-height: 1.2;
}

@media (max-width: 500px) and (min-width: 768px) and (max-width: 992px) {
    #show-page-text-2 {
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
        white-space: pre-line;
    }

    #rating-label-2 {
        width: auto;
        margin-right: 0.5rem;
        margin-bottom: 0;
        line-height: initial;
        white-space: pre-line;
    }
}

@media (max-width: 500px) {
    #show-page-text-2 {
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
        white-space: pre-line;
    }

    #rating-label-2 {
        width: auto;
        margin-right: 0.5rem;
        margin-bottom: 0;
        line-height: initial;
        white-space: pre-line;
    }
}

#index-page-image {
    /* max-height: 191px; */
    object-fit: cover;
    object-position: center;
    aspect-ratio: 4/3;
}

@media screen and (max-width: 992px) {
    #index-page-image {
        /* max-height: 191px; */
        object-fit: cover;
        object-position: center;
        aspect-ratio: 16/9;
    }
}

#index-page-map {
    position: fixed;
    right: 0%;
    /* float: right; */
}

@media screen and (max-width: 768px) {
    #index-page-map {
        position: static;
        /* The position is default, when the viewport is 768px or smaller. right property becomes no value @static position*/
    }
}

#index-page-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

#navbar-jacket {
    margin-bottom: 3.5rem;
}

nav,
footer {
    background-color: rgb(0, 172, 193);
}

#navbar-jacket .navbar-expand-lg {
    max-width: 100vw;
}

#login-register-card {
    max-width: 660px;
}